Datum a čas: {{ "%+32s"| format(dt_local)  }}
Date and time:  {{ "%+28s"| format(dt_utc) }}

Vítr/Wind: {{ "%+8s"| format(wind_movAvg_2m_dir)  }}° (variable {{ "%+3s"|format(wind_var_min) }}° - {{ "%+3s"|format(wind_var_max) }}°)
{{ "%19.1f"|format(wind_actual_speed_ms) }}kt  ({{ "%5.1f"|format(wind_actual_speed_kt) }}m/s)  {{ "%4s"|format(wind_actual_gust_title) }} {{ "%3.0f"|format(wind_actual_gust_kt) }}kt
Runway in use: {% for  o in runway_data  %}{{ "%+5s"| format(o.runway_name) }}| crosswind {{ "%+3s"| format(o.cross_wind_kt) }}kt {{ "%+6s"| format(o.wind_from_side)|upper  }}
{% endfor %}
Tlak/Pressure QNH:   {{ "%+20s"| format(pressure_sea) }} hPa
Teplota/Temp: {{ "%+29s"| format(temperature) }}{{ unit_temp }}°C
Rosný bod/Dew point: {{ "%+22s"| format(dew_point) }}{{ unit_temp }}°C
Vlhkost vzduchu/RH: {{ "%+24s"| format(humidity) }}%
